body{
  background-color: #000;
}
.App {
  width: 600px;
  margin: 100px auto 0;

}

.circlesWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #bc13fe,
            0 0 82px #bc13fe,
            0 0 92px #bc13fe,
            0 0 102px #bc13fe,
            0 0 151px #bc13fe;
}

.circle{
  border: 1px solid #fff;
  font-size: 30px;
  border-radius: 46%;
  text-align: center;
  padding: 10px;
}

.btnWrap{
    margin: 40px 0 0;
    text-align: center;
}

.btn{
    cursor: pointer;
    background-color: #fff;
    border-radius: 12px;
    color: #121212;
    display: inline-flex;
    flex: 1 1 auto;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
    box-shadow: #fff 0 0 0 3px, transparent 0 0 0 0;
}

